In [2]:
import pandas as pd
pd.DataFrame([[1, "abc"], [2, "def"]], columns=("id", "name"))

   id name
0   1  abc
1   2  def